@import "tailwindcss";

@font-face {
  font-family: 'MadeForRegular';
  src: url('fonts/WixMadeforText-VariableFont_wght.ttf') format('woff2');
  /*font-weight: normal;*/
  font-style: normal;
}

@font-face {
  font-family: 'MadeForItalic';
  src: url('fonts/WixMadeforText-Italic-VariableFont_wght.ttf') format('woff2');
  /*font-weight: normal;*/
  font-style: italic;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FFFFFF;
    --foreground: #0a0a0a;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: MadeForRegular, Helvetica, sans-serif;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.fade-in {
  animation: fadeIn 0.7s cubic-bezier(0.32, 0, 0.67, 0.45) both;
}
.fade-in-2s {
  animation: fadeIn 1.4s cubic-bezier(0.32, 0, 0.67, 0.45) both;
}

.sprinkle {
  transition: opacity 0.2s;
}